@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;600&family=Urbanist:wght@300;400;500;600&display=swap');

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:active,
:hover,
:focus{
    outline: 0 !important;
    outline-offset: 0;
}

ul,ol{
    margin: 0;
    padding: 0;
}


/* ====varable define==== */
:root{
    --primary-color: #ff553e;
    --secondry-color: #333;
    --white-color: #fff;
    --black-color: #000;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 100%;
}


/*  ======================
    custom scroll bar
    ====================== */
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: var(--secondry-color);
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 5px;
}



/* ==============custom css========== */
h1{
    font-size: 4.5vw;
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--white-color);
}
h2{
    font-size: 1.5625rem;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--white-color);
    line-height: 2.5rem;
}

h4{
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0.9375rem;
    text-transform: capitalize;
    color: var(--white-color);
    transition: all .3s linear;
}
a{
    text-decoration: none;
}
.main-btn{
    height: 40px;
    line-height: 40px;
    font-size: 1.125rem;
    display: inline-block;
    color: var(--white-color);
    font-size: 700;
    text-transform: uppercase;
    padding: 0 30px;
    position: relative;
}
.main-btn::after,
.main-btn::before
{
    position: absolute;
    top: 50%;
    background-color:  var(--secondry-color);
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    transition: all .5s ease-out 0s;
    transform: translateX(-20px);
    transform: translateY(-20px)
}
.main-btn::after{
    transform: translateX(20px);
    -webkit-transform: translateY(20px);
}

.main-btn:hover::before{
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    background-color: var(--primary-color);
}

.main-btn:hover::after{
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    background-color: var(--primary-color);
}
.main-btn:hover{
    color: var(--primary-color);
}
.wraper{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--secondry-color);
}
.text-content{
    width: 60%;
    margin: auto;
}



/* 

===============header design=====
================================= */


.heading-top{
    background-color: var(--secondry-color);
}
.heading-top span{
    color: var(--white-color);
    font-size: 15px;
    letter-spacing: 0.5px;
}

/* navbar */
.navication-wrap{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 100000;
}


.navbar-toggler{
    border: none;
    font-size: 30px;
}
.navbar-toggler:focus{
    outline: unset;
    border: none;
    box-shadow: none;
}
.navication-wrap .nav-item{
    padding: 0 10px;
}
.navication-wrap .nav-link{
    text-transform: uppercase;
    color: var(--white-color);
    letter-spacing: 0.5px;
}
.navication-wrap .nav-link{
    text-transform: uppercase;
    letter-spacing: .7px;
}

.navication-wrap .nav-link:hover,
.navication-wrap .nav-link:active{
    color: var(--primary-color);
}
/* ///navication change */
.navication-wrap.scroll-on{
    background-color: var(--black-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 2px 2px white;
    transition: all .15s ease-in-out 0s;
}
.navication-wrap.scroll-on .nav-link:hover,
.navication-wrap.scroll-on .nav-link:active{
    color: var(--primary-color);

}

/* caption */
#home .carousel-caption{
    top: 30%;
}
#home .carousel-caption p{
    width: 70%;
    margin: 1rem auto;
}
.btn-nav{
    color: #fff;
}
